{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} Planet Plum! {% endblock %}
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %} {% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
{% if user.is_superuser %}
    <h1><a href="{% url 'index' %}">return to site</a></h1>
    <h1><a href="{% url 'superuser' %}">ADMIN PANEL</a></h1>
    <nav>
        <div>
            <a href="{% url 'index' %}">HOME</a>
            <a href="{% url 'about' %}">ABOUT</a>
                hello, 
                <a href="{% url 'userprofile' username=user.username %}">
                {% if user.userprofile.picture %}
                    <img src={{ user.userprofile.picture.url }} style="max-width: 50px; max-height: 50px;">
                {% endif %}{{ user.username }}</a>
                <form action="{% url 'logout' %}?next=/" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
        </div>
        <br>
    </nav>
    {% block content %}{% endblock %}
    <br><br>
{% else %}
<h1>go away asshole</h1>
{% endif %}
</body>
</html>