{% extends "planetplum/base.html" %}
{% load static %}
{% load tz_detect %}
{% block title %}
{{ channel }}
{% endblock %}
{% block css %}
<link href="{% static 'css/channel1-1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% tz_detect %}

<div class="chat-top">
    <div class="chat-top-container">
           <a href="{% url 'chat' %}"><button class="button" style="float: left; position: static;">back</button></a>
        <h2 class="chat-title">{{ channel }}</h2>
    </div>
 
</div>


<!-- scroll box-->
<div class="chatbox" id="chatbox">
    <a href="{% url 'channel' channelname=channel load=load %}"><p>load more</p></a>

    {% for post in posts %}

        <div class="chatbox-post">
            <div class="chatbox-leftbar">
                {% ifchanged post.user or ifchanged post.timestamp.date %}
                <a href="{% url 'userprofile' username=post.user.username %}">    
                    {% if post.user.userprofile.image %}
                        <img src={{ post.user.userprofile.image.url }} class="chat-poster">
                    {% else %}
                        <img src="{% static 'images/nopfp.png' %}" class="chat-poster">
                    {% endif %}
                </a>
            
                {% else %}
                    {% ifchanged post.timestamp.time.minute %}
                    <p class="chat-timestamp">
                        <small>{{ post.timestamp|time }}</small> 
                    </p>
                    {% endifchanged %}
                {% endifchanged %}
            </div>
            
            <div class="chatbox-rightbar">
                {% ifchanged post.user or ifchanged post.timestamp.date %}
                <a href="{% url 'userprofile' username=post.user.username %}">
                    <p>
                        <b>{{ post.user.username }}</b>
                        <small>{{ post.timestamp }}</small>
                    </p>
                </a>  
                {% endifchanged %}
                <p style="overflow-wrap: break-word;">
                    {{ post.text|linebreaksbr  }}
                </p>
                {% if post.image %}
                <img src={{ post.image.url }} class="chat-post-image">
                <p></p>
                {% endif %}
            </div>

            {% if post.user == user %}
                <div class="chatbox-report" onclick="openDelete(this.parentElement, {{ post.id }})">
                    <p>x</p>
                </div>
            {% else %}
                <div class="chatbox-report" onclick="openReport(this.parentElement, {{ post.id }})">
                    <p>!</p>
                </div>
            {% endif %}
        
        </div> 

    {% empty %}
    <p>be the first to post!</p>
    {% endfor %}
    </ul>
</div>

<div class="chat-bottom">

{% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data" class="chat-input-area">
        {% csrf_token %}

        <p>{{ form.non_field_errors.as_text }}</p>
        {% if form.errors %}
            <br><p>{{ form.errors.as_text }}!!</p><br>
        {% endif %}

        <div class="chat-input">
            <img src="" id="img">
            <textarea style="grid-row: 1 / span 2;" id="id_text" name="text" class="textarea" placeholder="send a message!"></textarea>

            <div class="chat-input-right">
                <div class="chat-input-image">
                    <label for="id_image" class="file-upload">Image</label>
                    <input type="file" name="image" accept="image/*" id="id_image" onchange="readURL(this)" style="display: none;">
                </div>

                <button type="submit">Post</button>
            </div>
        </div>
    </form>
    
{% else %}

    <p class="chat-bottom">Sorry, you have to have an account to post to the channel</p>
    <br>
    <p class="chat-bottom">Click <a href="{% url 'register' %}"><b>here</b></a> to create an account or <a href="{% url 'login' %}"><b>here</b></a> to login</p>
{% endif %}

</div>

{% endblock %}


{% block script %}

    {% include 'planetplum/widgets/imgdisplayscript.html' %}
    <script>
        window.scroll(0, document.documentElement.scrollHeight)
        document.querySelectorAll("textarea").forEach(function(textarea) {
        textarea.style.height = textarea.scrollHeight + "px";
        textarea.style.overflowY = "hidden";

        textarea.addEventListener("input", function() {
            this.style.height = "auto";
            this.style.height = this.scrollHeight + "px";
        });
        });

        let reportId = null;
        let lastReport = null;
        let reportURL = "report/"
        function openReport(post, id){
            if (reportId != null){
                lastReport.remove()
                lastReport = null
                reportId = null
            }
            if ( reportId != id ){
                post.insertAdjacentHTML("afterend", `
                    <div class='report'>
                        <p><b>Report the above message?</b>
                            <button class='button' onclick="openReport(null, ${id})">NO</button>
                            <a href="${reportURL}${id}"><button class='button'>YES</button></a>
                        </p>
                    </div>
                `)
                lastReport = post.nextElementSibling
                reportId = id
            }
        }

        let deleteId = null;
        let lastDelete = null;
        let deleteURL = "delete/"
        function openDelete(post, id){
            if (deleteId != null){
                lastDelete.remove()
                lastDelete = null
                deleteId = null
            }
            if ( deleteId != id ){
                post.insertAdjacentHTML("afterend", `
                    <div class='report'>
                        <p><b>Delete your message?</b>
                            <button class='button' onclick="openDelete(null, ${id})">NO</button>
                            <a href="${deleteURL}${id}"><button class='button'>YES</button></a>
                        </p>
                    </div>
                `)
                lastDelete = post.nextElementSibling
                deleteId = id
            }
        }
 
        var objDiv = document.getElementById("chatbox"); 
        objDiv.scrollTop = objDiv.scrollHeight; 
    </script>
{% endblock %}