{% extends "planetplum/base.html" %}
{% block title %}
{{ channel.name }}
{% endblock %}
{% block stylesheets %}
<!--additional stylesheets here-->
{% endblock %}
{% block content %}

<p>{{ load }}</p>

<!-- scroll box-->
<div style="height:80vh;width:60vw;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto; display: flex; flex-direction: column-reverse;">
    <ul>
    {% for post in posts %}
        <li>
            <p>
                {% if post.user.userprofile.image %}
                <a href="{% url 'userprofile' username=post.user.username %}">
                    <img src={{ post.user.userprofile.image.url }} style="max-width: 100px;">
                    {% else %}

                    {% endif %}
                    <b>{{ post.user.username }}</b>
                </a>
                    <small>{{ post.timestamp }}</small>
                    {{ post.text }}
                    {% if post.image %}
                    <img src={{ post.image.url }}>
                    {% endif %}
            </p>
        </li>
    {% empty %}
    <p>be the first to post!</p>
    {% endfor %}
    </ul>
    <a href="{% url 'channel' channelname=channel load=load %}"><p>load more</p></a>
</div>

{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">post</button>
</form>
{% else %}
<p>Sorry, you have to have an account to post to the channel</p>
<p>Click <a href="{% url 'register' %}">here</a> to create an account and <a href="{% url 'login' %}">here to login</a></p>
{% endif %}

{% endblock %}