{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
{{ channel }}
{% endblock %}
{% block css %}
<link href="{% static 'css/channel.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<h1>{{ channel }}</h1>

<!-- scroll box-->
<div class="chatbox" id="chatbox">
    <a href="{% url 'channel' channelname=channel load=load %}"><p>load more</p></a>

    {% for post in posts %}

        <div class="chatbox-post">
            <div class="chatbox-leftbar">
                {% ifchanged post.user or ifchanged post.timestamp.date %}
                <a href="{% url 'userprofile' username=post.user.username %}">    
                    {% if post.user.userprofile.image %}
                        <img src={{ post.user.userprofile.image.url }} class="chat-poster">
                    {% else %}
                        <img src="{% static 'images/nopfp.png' %}" class="chat-poster">
                    {% endif %}
                </a>
            
                {% else %}
                    {% ifchanged post.timestamp.time.minute %}
                    <p class="chat-timestamp">
                        <small>{{ post.timestamp.time }}</small> 
                    </p>
                    {% endifchanged %}
                {% endifchanged %}
            </div>
            
            <div class="chatbox-rightbar">
                {% ifchanged post.user or ifchanged post.timestamp.date %}
                <a href="{% url 'userprofile' username=post.user.username %}">
                    <p>
                        <b>{{ post.user.username }}</b>
                        <small>{{ post.timestamp }}</small>
                    </p>
                </a>  
                {% endifchanged %}
                <p>
                    {{ post.text }}
                </p>
                {% if post.image %}
                <img src={{ post.image.url }} class="chat-post-image">
                <p></p>
                {% endif %}
            </div>

            <div class="chatbox-report" onclick="openReport(this.parentElement, {{ post.id }})">
                <p>!</p>
            </div>
        
        </div> 

    {% empty %}
    <p>be the first to post!</p>
    {% endfor %}
    </ul>
</div>

{% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data" class="chat-input-area">
        {% csrf_token %}

        <p>{{ form.non_field_errors.as_text }}</p>
        {% if form.errors %}
            <br><p>{{ form.errors.as_text }}!!</p><br>
        {% endif %}

        <div class="chat-input-grid">
 
            <textarea style="grid-row: 1 / span 2;" id="id_text" name="text" class="textarea" placeholder="send a message!"></textarea>

            
            <div>
                <label for="id_image" class="file-upload">Image</label>
                <input type="file" name="image" accept="image/*" id="id_image" onchange="readURL(this)" style="display: none;">
            </div>

            <button type="submit">Post</button>
        </div>

        <img src="" id="img">
        <p><b>Note:</b> the forum is <b>not</b> live and requires a refresh to see new messages.</p>
    </form>
    
{% else %}

    <p class="chat-bottom">Sorry, you have to have an account to post to the channel</p>
    <br>
    <p class="chat-bottom">Click <a href="{% url 'register' %}"><b>here</b></a> to create an account or <a href="{% url 'login' %}"><b>here</b></a> to login</p>
{% endif %}



{% endblock %}


{% block script %}
    {% include 'planetplum/widgets/imgdisplayscript.html' %}
    <script>
        document.querySelectorAll("textarea").forEach(function(textarea) {
        textarea.style.height = textarea.scrollHeight + "px";
        textarea.style.overflowY = "hidden";

        textarea.addEventListener("input", function() {
            this.style.height = "auto";
            this.style.height = this.scrollHeight + "px";
        });
        });

        let reportId = null;
        let lastReport = null;
        let reportURL = "report/"
        function openReport(post, id){
            if (reportId != null){
                lastReport.remove()
                lastReport = null
                reportId = null
            }
            if ( reportId != id ){
                post.insertAdjacentHTML("afterend", `
                    <div class='report'>
                        <p><b>Report the above message?</b>
                            <button onclick="openReport(null, ${id})">NO</button>
                            <a href="${reportURL}${id}"><button>YES</button></a>
                        </p>
                    </div>
                `)
                lastReport = post.nextElementSibling
                reportId = id
            }
        }
 
        var objDiv = document.getElementById("chatbox"); 
        objDiv.scrollTop = objDiv.scrollHeight; 
    </script>
{% endblock %}