{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
Chat
{% endblock %}
{% block css %}
<link href="{% static 'css/index1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<style>
  .chat-channel {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: var(--textcolor);
    color: var(--primary);
  }
  .chat-channel:hover h1{
      text-decoration: underline;
  }

  .chat-channel h1 {
      text-decoration: none;
      margin: 0;
  }
</style>

{% for section in sections %}
    {% if section.name == 'admin' and not user.is_admin%}
    {% else %}
    <h2 class="sec-flag">{{ section.name }}</h2>
    <div class="idx-section">
        {% for channel in section.channel.all %}
          <a href="{% url 'channel' channelname=channel.name load=1 %}">
            <div class="chat-channel">
              <h1>{{ channel.name }}</h1>
            </div></a>
        {% empty %}
          <p>where the channels at??</p>
        {% endfor %}
    </div>
    {% endif %}
    

{% empty %}

where the sections at??

{% endfor %}

{% if user.is_superuser or user.is_admin %}
<hr>
<h2>ADMIN SPACE</h2>
<a href="{% url 's_addchannel' %}"><h1>add channel</h1></a>
<a href="{% url 's_addchannelsection' %}"><h1>add section</h1></a>
<a href="{% url 's_chatlist' %}"><h1>see edit list</h1></a>
{% endif %}

{% endblock %}