{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
Chat
{% endblock %}
{% block css %}
<link href="{% static 'css/chat.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="chat-top">
  <a href="{% url 'addmodel' modelname='root' %}"><button class="button">Create Topic</button></a>
</div>

<div class="rootposts">
{% for rootpost, last in rootposts %}
{% with rootpost.replies.all.0 as post %}
<a href="{% url 'root' name=rootpost.name %}">
  <div class="rootpost">
    <div class="topic"><h3>{{ rootpost.topic.name }}</h3></div>
    <h1>{{ rootpost.name }}</h1>
    <div class="latest-post">
      {% with last.user as user %}
      <p>latest post:</p>

      <div class="post">
        <p style="float: right">{{ last.timestamp }}</p>
        <h3 class="user">{% if user.userprofile.image %}<img src={{ user.userprofile.image.url }}>{% endif %}
          {{last.user.username}}</h3>
        
        <p style="margin: 1rem 0 0 1rem;"><b>{{ last.text }}</b></p>
      </div>
      {% endwith %}
    </div>


  </div>
</a>
{% endwith %}
    

{% empty %}

where the posts at??

{% endfor %}
</div>

{% if user.is_superuser or user.is_admin %}
<hr>
<h2>ADMIN SPACE</h2>
<a href="{% url 'addmodel' modelname='topic' %}"><h1>add topic</h1></a>
<a href="{% url 's_chatlist' %}"><h1>see topic list</h1></a>
{% endif %}

{% endblock %}