{% extends "planetplum/base.html" %}
{% block title %}
<!--title here-->
{% endblock %}
{% block stylesheets %}
<!--additional stylesheets here-->
{% endblock %}
{% block content %}

{% for section in sections%}
    <h1>{{ section.name }}</h1>
    {% for channel in section.channel_set.all %}
    <a href="{% url 'channel' channelname=channel.name load=1 %}"><p>{{ channel.name }}</p></a>
    {% empty %}
    <p>where the channels at??</p>
    {% endfor %}

{% empty %}

where the sections at??

{% endfor %}

{% if user.is_superuser %}
<hr>
<a href="{% url 's_addchannel' %}"><p>add channel</p></a>
<a href="{% url 's_addchannelsection' %}"><p>add channel section</p></a>
{% endif %}

{% endblock %}