{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
report success
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}

<br>
<div style="text-align: center;">
<h1>thanks for keeping the site safe!</h1>
<p>an admin will look at the message and remove it if necessary.</p>
<br>
<br>
<button onclick="sendback()" style="height: 10rem; width: 20rem;"><h1>back to chat</h1></button>
</div>



{% endblock %}

{% block script %}
<script>
    function sendback(){
        window.history.back()
    }
</script>
{% endblock %}
