{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
add label
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="cancel">
    <a href="{% url 'contribute' %}"><button class="button">cancel</button></a>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form %}
    <div>
        {% if section.name == 'color' %}
            <h2>Label Color</h2>
            <div class="form-label-color">
                <input type="color" id="id_color" class="colorfield_field jscolor form-control" name="color"
                    data-jscolor="{hash:true,width:225,height:150,format:'hex',required:true,paletteCols:4,paletteHeight:28}">
            </div>
        {% elif section.name == 'link' %}
            <h2>External Link</h2>
            {{ section }}
        {% elif section.name == "image" %}
            <br><hr>
            <p>(optional details)</p><br>
            <h2>Label Profile Pic</h2>
            <img src="" id="img"><br>
            <label for="id_image" class="file-upload">Upload Image</label>
            <input type="file" name="image" accept="image/*" id="id_image" onchange="readURL(this)">
            <br><br>
        {% else %}
            <h2>{{ section.name|title }}</h2>
            {{ section }}
        {% endif %}
        
        {% if section.name in form.errors %}
            <br><p>{{ section.errors.as_text }}!!</p><br>
        {% endif %}

    </div>
    {% endfor %}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">Submit</button>
    <p><b>Note:</b> label submissions will need manual approval from an admin</p>
</form>

{% endblock %}



{% block script %}
{% include 'planetplum/widgets/imgdisplayscript.html' %}
{% include 'planetplum/widgets/textareasizescript.html' %}
{% endblock %}
