{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
add {{ model }}
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="cancel">
    <button class="button" onclick="sendback()">back</button>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form %}
        <div>
            {% if not section.name == 'approved' %}
                <h2>{{ section.label|title }}</h2>
            {% endif %}
            {% if section.name == 'image' %}
                <br>
                <img src="" id="img"><br>
                <label for="id_image" class="file-upload">Upload Image</label>
                <input type="file" name="image" accept="image/*" id="id_image" onchange="readURL(this)">
                <br><br>
            {% elif section.name == 'color' %}
                <div class="form-label-color">
                    <input type="color" id="id_color" class="colorfield_field jscolor form-control" name="color"
                        data-jscolor="{hash:true,width:225,height:150,format:'hex',required:true,paletteCols:4,paletteHeight:28}">
                </div>
            {% elif section.name == 'approved' %}
            {% elif section.name == 'alias' %}
                <p>OmahaUnderground.net/_____</p>
                {{ section }}
            {% elif section.name == 'price' %}
                <input type="number" name="price" id="id_price" value="0" min="0" max="100">
            {% else %}
                {{ section }}
            {% endif %}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">Submit</button>
    {% if not user.is_trusted %}
    {% if not model == 'venue' %}
        <p><b>Note:</b> your submission will need manual approval from an admin </p>
    {% endif %}
    {% endif %}
</form>

{% endblock %}

{% block script %}
{% include 'planetplum/widgets/imgdisplayscript.html' %}
{% include 'planetplum/widgets/textareasizescript.html' %}


<script>
    function sendback(){
        window.history.back()
    }
</script>

{% endblock %}