{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
addband
{% endblock %}
{% block stylesheets %}
<!--additional stylesheets here-->
{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form %}
    <div>
        <p>{{ section.name }}:
        {% if section.name == 'date' %}
        <input type="date" name="date" required id="id_date">
        {% else %}
        {{ section }}
        {% endif %}</p>
        <hr>
    </div>
    {% endfor %}
    <button type="submit">Add</button>
</form>

{% endblock %}



{% block script %}
<!--any javascript-->
{% endblock %}
