.main-content {
    width: 80%;
    margin: 0 auto;
}

.main-content h2,
.main-content h3 {
    text-align: center;
}

.main-content h3 {
    text-decoration: underline;
}


@media screen and (min-width: 700px) {
    .main-content {
        max-width: 550px;
    }

}