/* general rules */
html {
    color-scheme: light dark;
    --textcolor: light-dark(black, white);
    font-size: 3.2vw;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}

div {
    overflow: hidden;
}

h1, 
h2, 
h3, 
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: var(--textcolor);
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    font-size: 1rem;
    border-radius: .5rem;
    text-align: center;
    padding: 0;
    color: var(--primary);
    background-color: var(--textcolor);
    font-weight: bold;
}

body {
    background-color: var(--primary);
    /*color: var(--primary);*/
    color: var(--textcolor);
    margin: 0;
}

/* general tools */
.centerer {
    text-align: center;
}

.button {
    height: 3.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: .75rem;
    padding: 0 .75rem 0;
    border-radius: .5rem;
    color: var(--primary);
    margin-left: auto;
    margin-right: auto;
}

/*specific to base*/
.header {
    height: 25vw;
    background-size: 100% 100%;
    background-image: url("../images/light-banner.png");
    background-color: var(--primary);
}

@media (prefers-color-scheme: dark) {
    .header {
        background-image: url("../images/dark-banner.png");
    }
}

.under-header {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    padding: 0 1rem 0;
}

.base-user {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto 0;
}

.base-user p {
    margin-top: .5rem;
}

.base-user img {
    max-height: 3rem;
    float: left;
    margin: .25rem .5rem 0 0;
}

#nav-hidden-menu {
    display: block;
    justify-self: center;
    margin: .25rem 0 .25rem;
}

#nav-hidden-menu button {
    width: 6rem;
    height: 3rem;
    border-radius: .75rem;
    font-size: 1.25rem;
}

.logout {
    justify-self: right;
}

.logout button {
    margin-top: .25rem;
    width: 5rem;
    height: 2rem;
}

#nav-full-menu {
    display: none;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: .5rem 0 1rem;
    gap: 1rem 1rem;
    padding: 0 1rem 0;
}

nav div {
    align-items: center;
    background-color: var(--textcolor);
    padding: .75rem 0;
}

nav h1 {
    text-align: center;
}

nav a {
    color: var(--primary);
}

.main-content {
    padding: 0 .5rem 0;
    min-height: 55vh;
    margin-bottom: 2rem;
}

.base-bottom {
    text-align: center;
}

@media screen and (min-width: 750px) {
    :root{
        font-size: 1.8vw;
    }

    a:hover {
        text-decoration: underline;
    }

    button:hover {
        color: var(--textcolor);
        background-color: var(--primary);
    }

    #nav-full-menu {
        display: grid;
    }

    #nav-hidden-menu {
        display: none;
    }

    nav div:hover {
        background-color: var(--primary);
    }
    nav a:hover {
        color: var(--textcolor);
    }
}
@media screen and (min-width: 1100px) {
    :root{
        font-size: 20px;
    }
}