

.header,
.under-header,
#topseparebar,
.base-bottom,
#bottomseparebar,
#pplumb,
#nav-full-menu
 {
    display: none;
}

.main-content {
    padding: 0;
    margin-bottom: 4.25rem;
}

.chat-top {
    top: 0;
    left: 0;
    padding: .5rem;
    padding-bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: var(--primary);
    border-bottom: var(--textcolor) solid .25rem;
}

.chat-top .chat-title {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1.25rem;
    position: static;
}


/* chat box */
.chatbox {
    width: 95%;
    margin: 25% auto 0;
    overflow: auto;
    font-size: 1.25rem;
    padding: 0 .5rem 0;
}

.chatbox-post {
    display: grid;
    grid-template-columns: 15% 80% 5%;
    width: 100%;
}

.chatbox .message a{
    text-decoration: underline;
}

.chat-poster {
    height: 3.5rem;
}

.chatbox p {
    margin-bottom: .5rem;
}

.chatbox-report {
    border: var(--textcolor) solid .1rem;
    padding: 0;
    height: 1.5rem;
    text-align: center;
}

.chatbox small {
    font-size: .5em;
    line-height: .5em;
}

p.chat-timestamp {
    margin: 0;
}

.chat-post-image {
    max-height: 15rem;
    max-width: 50%;
    object-fit: contain;
    margin: .25rem 0 .5rem;
}

.chat-bottom {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: .75rem 0 0;
    border-top: .25rem solid var(--textcolor);
    background-color: var(--primary);
}

.chat-input-area {
    width: 98%;
    margin: 0 auto .25rem;
    height: auto;
}

.chat-input textarea {
    width: 75%;
    min-height: 5rem;
}

.chat-input-right {
    width: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: .5rem;
}

.file-upload,
.chat-input-area button[type=submit],
.chat-input-image {
    padding: .25rem 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: .5rem;
    color: var(--primary);
    background-color: var(--textcolor);
    margin-top: .5rem;
}

form img {
    max-width: 50%;
    max-height: 15rem;
    object-fit: contain;
}



@media screen and (min-width: 700px) {
    .chatbox {
        margin-top: 10%;
    }
    .chatbox-post {
        grid-template-columns: 15% 82% 3%;
    } 
    .chat-top-container {
        width: 50rem;
        margin: 0 auto;
    }
    .chat-input {
        width: 50rem;
        margin: 0 auto;
    }
    .chat-input textarea {
        width: 43rem;
        min-height: 5rem;
    }

    .chat-input-right {
    width: 50%;
    }
    .chat-input-right div,
    .chat-input-area button[type=submit] {
        margin-left: 20rem;
        width: 5rem;
    }
}

@media screen and (min-width: 850px) {
    .main-content {
        padding: 0;
        margin-bottom: 1.5rem;
    }
    .chatbox {
        width: 50rem;
    }
    .chat-input-right div {
        margin-left: 15rem;
        float: left;
    }
    .chat-input-area button[type=submit] {
        margin-left: .5rem;
        float: left;
    }
    .chat-input textarea {
        width: 38rem;
        min-height: 2rem;
    }
}