.topic-button {
    margin-bottom: 1rem;
}

.rootpost {
    background-color: var(--textcolor);
    color: var(--primary);
    margin: 0 auto 1rem;
    padding: .5rem;
    border: .1rem solid var(--textcolor);
    width: 95%;
}

.topic {
    float: left;
    border: .1rem solid var(--primary);
    text-align: center;
    padding: .25rem;
    
}

.post {
    padding: .5rem;
    margin: .25rem 0 0;
    border: .1rem solid var(--primary);
}

.post-image {
    max-height: 10rem;
    max-width: 30%;
    object-fit: contain;
    float: left;
    margin: 1rem .5rem 0;
}


.user img{
    width: 2.25rem;
    margin-bottom: -.75rem;
}

.timestamp {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}

.rootposts h1 {
    margin: 2.5rem auto 1rem;

    text-align: center;
    font-size: 2rem;
}

.step-links {
    margin-top: .5rem;
    padding: .5rem;
    font-weight: bold;
    border: .1rem solid var(--textcolor);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 700px) {
    .rootposts {
        column-count: 2;
    }
    .step-links {
        width: 50%;
        margin: .5rem auto;
    }
}