.main-content h2 {
    text-align: center;
    margin: .25rem 0 1rem;
}

.contrib-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: .5rem 0 1rem;
    gap: 1rem 1rem;
}

.contrib-item {
    align-items: center;
    background-color: var(--textcolor);
    padding: .75rem 0;
}
.contrib-item:hover h1{
    text-decoration: underline;
}

.contrib-item h1 {
    color: var(--primary);
    text-align: center;
}