.exp-tabs-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.exp-tabs {
    border: 1px solid var(--textcolor);
    padding: .25rem;
}

.exp-tabs-container h1 {
    font-size: 1.5rem;
    text-align: center;
}

.exp-tabs-current {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: none;
}

.explore {
    min-height: 60vh;
    background-color: var(--primary);
    border: 1px solid var(--textcolor);
    border-top: none;
    margin: 0 auto;
    color: var(--textcolor);
    padding: .5rem;
}

.explore hr {
    color: var(--)
}

.filter {

}

.results-bands {
    column-count: 3;
    column-gap: .5rem;
}
.band {
    border: .25rem solid;
    color: var(--textcolor);
    height: auto;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: .5rem;
}
.band img {
    width: 100%;
}

.band-name {
    height: 100%;
}

.band p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 .25rem .25rem;
}


.label {
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    width: 98%;
    margin: 0 auto .5rem;
    border: .25rem var(--textcolor) solid;
}

.label img{
    object-fit: contain;
    float: left;
    height: 4rem;
}

@media screen and (min-width: 700px) {
    .label {
        max-width: 420px;
    }
    .results-bands {
        column-count: 4;
    }
}