/* for any and all them forms */

.main-content p {
    font-size: 1.5rem;
    text-align: center;
}

.main-content form,
.main-content h1 {
    text-align: center;
}

.main-content form {
    margin-top: 3rem;
}

.main-content label,
.main-content h2 {
    font-weight: normal;
    font-size: 2rem;
}

.main-content form input[type=text],
.main-content form input[type=password],
.main-content form input[type=email] {
    width: 70%;
    height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.main-content form input[type=file] {
    font-size: 1.5rem;
    width: 60%;
}

.main-content form button[type=submit] {
    height: 3.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: 0 .75rem 0;
    border-radius: .5rem;
    color: var(--primary);
    margin-left: auto;
    margin-right: auto;
}

.main-content form input[type=color] {
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    background-color: var(--textcolor);
}

.main-content img {
    width: 60%;
}

.color-container {
    width: 17rem;
    height: 17rem;
    background-color: var(--textcolor);
    margin: 0 auto 0;
}

.cancel {
    margin: 0.5rem 0 0 0.5rem;
}

.right-cancel {
    float: right;
    margin: 0.5rem 0.5rem 0 0;
}