.name {
    text-align: center;
    font-size: 3rem;
}

.below-name {
    width: 80%;
    margin: 0 auto;
}

.below-name img{
    width: 100%;
}

@media screen and (min-width: 700px) {
    .main-content h3{
        font-size: 1.5rem;
    }

}