.name {
    text-align: center;
    font-size: 3rem;
}

.below-name {
    width: 80%;
    margin: 0 auto;
}

.below-name img{
    width: 100%;
}

.edit {
    margin: 0.5rem auto;
}

.edit button {
    margin-bottom: .5rem;
}

.bandlink {
    margin-left: 1rem;
    float: left;
    text-decoration: underline;
}

.img-section {
    width: 70%;
    margin: 0 auto;
}

.img-section img {
    outline: .125rem solid var(--textcolor);
}

@media screen and (min-width: 700px) {
    .main-content h3{
        font-size: 1.5rem;
    }
    .img-section {
        width: 50%;
        margin: 0 auto;
    }

}