{% extends "planetplum/explore.html" %}
{% load static %}
{% block title %}
bands
{% endblock %}

{% block description %}Local Omaha bands!{% endblock description %}

{% block cband %}exp-tabs-current{% endblock %}

{% block explore %}

<div class="results-bands">
    {% for band in bands %}
        <a href="{{ band.get_absolute_url }}">
            <div class="band" {% if band.label.approved %} style="border-color: {{ band.label.color }};"{% endif %}>
                <img src={{ band.image.url }}>
                <div class="band-name"><p>{{ band.name }}</p></div>
            </div>
        </a>
    
    {% empty %}
    <p>OOh sorry dude we ain't got any of them</p>
    {% endfor %}
</div>
<br>
{% endblock %}



{% block script %}
<script>
    document.querySelectorAll('a[href="'+document.URL+'"]').forEach(link => link.className += ' current-link');
</script>
{% endblock %}
