{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
{{ band.name }}
{% endblock %}
{% block css %}
<link href="{% static 'css/page2.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

{% if band.approved == False %}
<p style="text-align: center;">**this band is awaiting approval to be placed directly on the website**</p>
    {% if user.is_admin %}
    <a href="{% url 'approvemodel' modelname='band' identifier=band.name %}"><button class="button">APPROVE</button></a>
    {% endif %}
{% endif %}
<br>
<h1 class="name">{{ band.name }}</h1>
<div class="below-name">
<br>
<div class="img-section">
    {% if band.label.approved %}<h3 style="margin-bottom:.25rem;">signed to <a href="{{ band.label.get_absolute_url }}">{{ band.label.name }}</a></h3>{% endif %}
    <img src="{{ band.image.url }}"><br>

</div>
{% if band.links.all %}
<div style="text-align: center; margin: .5rem 0 1rem;"><div style="display: inline-block;">
    {% for link in band.links.all %}
        <a href="{{ link.link }}" target="_blank"><h3 class="bandlink"><b>{{ link.name }}</b></h3></a>
    {% endfor %}
</div></div>
{% else %}<br>
{% endif %}
{{ embed|safe }}
<h3 style="margin-top: 1rem;">{{ band.description|linebreaksbr|urlizetrunc:50 }}</h3>
<br>
{% if band.email %}<p>contact: {{ band.email }}</p> {% endif %}




{% if edit %}
<hr style="margin-top: 2rem;">
{% if band.members.all %}
<h2>Band Members:</h2>
<table style="margin: 0 1rem;;">
    {% for bandmember in band.members.all %}  
            <tr>
                <td>{% if bandmember.userprofile.image %}<a href="{% url 'userprofile' username=bandmember.username %}"><img src="{{ bandmember.userprofile.image.url }}" style="max-width: 4rem; margin-right: 1rem;"></a>{% endif %}</td>
                <td><a href="{% url 'userprofile' username=bandmember.username %}"><h2 style="display: inline-block">{{ bandmember.username }}</h2></a></td>
            </tr>
    {% endfor %}
</table>
{% endif %}
<br><br>
<div class="edit">
    <h2>--Manage--</h2>
    <a href="{% url 'editmodel' modelname='band' id=band.id %}"><button class="button">band details</button></a>
    <a href="{% url 'usermanage' usecase='bandmembers' id=band.id %}"><button class="button">band members</button></a>
    <a href="{% url 'bandlinks' bandid=band.id %}"><button class="button">links</button></a>
</div>
{% endif %}

</div>

{% endblock %}



{% block script %}

{% endblock %}
