{% extends "planetplum/explore.html" %}
{% block title %}
labels
{% endblock %}
{% block clabel %}exp-tabs-current{% endblock %}
{% block explore %}

{% for label in labels %}
<a href="{{ label.get_absolute_url }}">
    <div class="label" style="border: .25rem {{ label.color }} solid;">
        {% if label.image %}<img src={{ label.image.url }}>{% else %}<div></div>{% endif %}
        <p><b>{{ label.name }}</b></p>
    </div>
</a>
{% empty %}
<p>OOh sorry dude we ain't got any of them</p>
{% endfor %}


{% endblock %}
