{% extends "planetplum/explore.html" %}
{% load static %}
{% block title %}
shows
{% endblock %}

{% block cshow %}exp-tabs-current{% endblock %}

{% block explore %}
<br>

{% if text %}

{% for show in shows %}
    {% ifchanged show.date %}
        <h3 style="margin: 1.5rem 2rem 0; text-decoration: underline;">{{ show.date|date:"D, M. jS "}}</h3>
    {% else %}
        <p>---</p>
    {% endifchanged %}
    <p>
        {% if show.name %}
            {{ show.name }}<br>
        {% endif %}
        @ {{ show.venue }}, 
        {% if show.time %}{{ show.time }},{% endif %} 
        {% if show.price %}{{ show.price }},{% endif %} 
        {% if show.pwyc %}PWYC{% endif %}
    </p> 
{% endfor %}


{% else %}

{% include 'explore/showgrid.html' %}

{% endif %}



{% endblock %}