{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
showpage
{% endblock %}
{% block css %}
<link href="{% static 'css/page.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

{% if show.approved == False %}
<p style="text-align: center;"> **this show is awaiting approval to be placed directly on the website**</p>
    {% if user.is_superuser or user.is_admin %}
    <a href="{% url 'approvemodel' modelname='show' identifier=show.id %}"><button class="button">APPROVE!</button></a>
    {% endif %}
{% endif %}
<a href="{% url 'shows' %}"><button class='button back-button'>shows</button></a>
<h2 class="name">{{ show.date }}</h2>
<div class="below-name">
<img src="{{ show.image.url }}">
<h1>{% if show.name %}{{ show.name }}{% endif %}</h1>
<h2>at: <a href="{% url 'venuepage' venuename=show.venue.name %}">{{ show.venue.name }}</a></h2>
<h3>
    {% if show.price %}${{ show.price }}{% endif %}
    {% if show.pwyc %}PWYC{% endif %}<br>
    {% if show.time %}{{ show.time }}{% endif %}
</h3>
{% if edit %}<a href="{% url 's_editshow' showid=show.id %}"><button class="button">edit details</button></a>{% endif %}
{% if user.is_superuser %}
<h3>contributor: <a href="{% url 'userprofile' username=show.contributor.username %}">{{ show.contributor.username }}</a></h3>
{% endif %}

</div>


{% endblock %}



{% block script %}

{% endblock %}
