{% extends "planetplum/explore.html" %}
{% load static %}
{% block title %}
shows
{% endblock %}

{% block cshow %}exp-tabs-current{% endblock %}

{% block explore %}
<br>
<div class="shows">
{% for show in shows %}
<div class="show">
        <h2>{{ show.date|date:"D, M. jS" }}<h2>


        <a href="{% url 'showpage' showid=show.id %}">
        <img src="{{ show.image.url }}">
    </a>

    
    <h3>
        at <a href="{% url 'venuepage' venuename=show.venue.name %}">
            {{ show.venue.name }}
        </a>
    </h3>     
</div>
{% empty %}
OOPS ain't got any
{% endfor %}
</div>

{% endblock %}