{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
{{ venue.name }}
{% endblock %}
{% block css %}
<link href="{% static 'css/page2.css' %}" rel="stylesheet">
<link href="{% static 'css/explore.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% if venue.approved == False %}
<p style="text-align: center;"> **this show is awaiting approval to be placed directly on the website**</p>
    {% if user.is_superuser or user.is_admin %}
    <a href="{% url 'approvemodel' modelname='venue' identifier=venue.name %}"><button class="button">APPROVE!</button></a>
    {% endif %}
{% endif %}

<a href="{% url 'venues' %}"><button class='button back-button'>venues</button></a>
<br>
<h1 class="name"> {{ venue.name }} </h1>
<br>
<div class="below-name">
        <div class="img-section">
                {% if venue.image %}
                        <img src="{{ venue.image.url }}">
                {% endif %}
                <h2 style="text-align: center; margin: .5rem 0;"> {{ venue.get_ageRange_display }} </h2>
                <h3 style="text-align: center;">
                        {% if venue.dm %}Ask a punk for the address >:) <!--make DM clickable-->
                        {% else %}{{ venue.map|safe }}
                        {% endif %}
                </h3><br>
        </div>
        {% if venue.description %}<h3>{{ venue.description|linebreaksbr|urlizetrunc:50 }}</h3>{% endif %}  <br><br>
        {% if edit %}<a href="{% url 'editmodel' modelname='venue' id=venue.id %}"><button class="button">edit details</button></a><br><br>{% endif %}
</div>

{% if shows.0 %}
<h2 style="text-align: center; text-decoration: underline; margin-bottom: .5rem;">UPCOMING SHOWS HERE</h2>
{% endif %}
{% include 'explore/showgrid.html' %}

{% endblock %}



{% block script %}

{% endblock %}
