{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
{{ venue.name }}
{% endblock %}
{% block css %}
<link href="{% static 'css/page.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<a href="{% url 'venues' %}"><button class='button back-button'>venues</button></a>
<br>
<h1 class="name"> {{ venue.name }} </h1>
<br>
<div class="below-name">
        <h2> {{ venue.get_ageRange_display }} </h2>
        <h3>{% if venue.dm %}Ask a punk for the address >:) <!--make DM clickable-->
                {% else %}find the address on the web!
                {% endif %}</h3>
        {% if venue.image %}
        <img src="{{ venue.image.url }}">
        {% endif %}
        {% if venue.description %}<h3>{{ venue.description }}</h3>{% endif %}  <br><br>
        {% if edit %}<a href="{% url 'editmodel' modelname='venue' id=venue.id %}"><button class="button">edit details</button></a>{% endif %}
</div>


{% endblock %}



{% block script %}

{% endblock %}
