{% extends "planetplum/explore.html" %}
{% load static %}
{% block title %}
venues
{% endblock %}

{% block cvenue %}exp-tabs-current{% endblock %}

{% block explore %}

<div class="venue-container">
{% for venue in venues %}
{% if not venue.name == '-- Other Venue --' %}

<a href="{{ venue.get_absolute_url }}">
    <div class="label">
        <h2>{{ venue.name }}</h2>
    </div>
</a>
{% endif %}
{% empty %}
<p>sorry dude we ain't got any venues i guess</p>
{% endfor %}
</div>

{% endblock %}



{% block script %}

{% endblock %}
