{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
         Planet Plum! 
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
{% if user.is_superuser %}
    <h1><a href="{% url 'index' %}">return to site</a></h1>
    <h1><a href="{% url 'superuser' %}">ADMIN PANEL</a></h1>

    <h3>list <br><br></h3>

    {% for section in sections %}
        <a href="{% url 's_editchannelsection' sectionid=section.id %}">
            <h1>{{ section.name }}</h1>
        </a>
        <ul>
            {% for channel in section.channel.all %}
            <li><a href="{% url 's_editchannel' channelid=channel.id %}">
                <h2>{{ channel.name }}</h2>
            </a>  </li>
            {% endfor %}
        </ul>
    {% endfor %}




{% else %}
<p>go away asshole</p>
{% endif %}

</body>
</html>