{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
about
{% endblock %}
{% block css %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<br>
<h2><b>Omaha Underground</b> is a platform to help connect and grow the Omaha music community.</h2>   
<br>

<h3>other info</h3>
<p>
    built and managed by Planet Plum, a small Omaha record label.<br>
    Email us at: <b>superplanetplum@gmail.com</b><br>
</p>
<br>
<br>
<p>
    all the code for this site is Open Source.
    Check it out or contribute <a href="https://github.com/mjames951/planetapplication" target="blank" style="text-decoration: underline;">here</a><br>
    We can help you create your own custom website too!
</p>





{% endblock %}
