{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
{{ band.name }} links
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<a href="{{ band.get_absolute_url }}"><button class="button">band page</button></a>
<a href="{% url 'addmodelparent' modelname='bandlink' parentid=band.id %}"><button class="button" style="float: right;">add link</button></a>


{% for link in links %}
    <br>
    <hr>
    <br>    
    <a href="{% url 'editmodel' modelname='bandlink' id=link.id %}"><button class="button" style="float: right;">edit</button></a>

    <h2>{{ link.name }}</h2>
    <h3>{{ link.link }}</h3>


{% endfor %}


{% endblock %}

