{% extends "planetplum/explore.html" %}
{% load static %}
{% block title %}
bands
{% endblock %}

{% block cband %}exp-tabs-current{% endblock %}

{% block explore %}

<div class="explore">
    {% if form.errors %}
        <h1 style="color: red">{{ form.errors }}</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ searchform }}
        <button type="submit">Filter</button>
    </form>

    {% for band in bands %}
    <a href="{% url 'bandpage' bandname=band.name %}">
        <div {% if band.label.approved %} style="background-color: {{ band.label.color }}; width: 500px;"{% endif %}>
            <p>{{ band.name }} {% if band.label.approved %}({{ band.label.name }}){% endif %}</p>
            <img src={{ band.image.url }} style="max-width: 200px; max-height: 200px;"> <!-- REPLACE WITH REAL CSS-->
        </div>
    </a>
    {% empty %}
    <p>OOh sorry dude we ain't got any of them</p>
    {% endfor %}

</div>





{% endblock %}



{% block script %}
<script>
    document.querySelectorAll('a[href="'+document.URL+'"]').forEach(link => link.className += ' current-link');
</script>
{% endblock %}
