{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <title>
        {% block title %} Planet Plum! {% endblock %}
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block stylesheets %} {% endblock %}
</head>
<body>
    <nav>
        <div>
            <!--put the top section here-->
        </div>
    </nav>
    <a href="{% url 'index' %}">HOME</a>
    <a href="{% url 'about' %}">ABOUT</a>
    {% if user.is_authenticated %}
        hello, 
        <a href="{% url 'userProfile' username=user.username %}">
        {% if user.userprofile.picture %}
            <img src={{ user.userprofile.picture.url }} style="max-width: 50px; max-height: 50px;">
        {% endif %}{{ user.username }}</a>
        <form action="{% url 'logout' %}?next=/" method="post">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <a href="{% url 'register' %}">click here to register</a>
        <a href="{% url 'login' %}">click here to login</a>
    {% endif %}
    {% block content %}{% endblock %}
    <div>
        <p>click <a href="{% url 'feedback' %}">here</a> to tell us ANYTHING</p>
    </div>
</body>
</html>