{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        {% block title %}Omaha Underground{% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %} {% endblock %}
    <style>
        {% if user.userprofile.primary %}
        :root {
            --primary: {{ user.userprofile.primary }};
        }
        {% else %}
        :root {
            --primary: light-dark(white, black);
        }
        {% endif %}
    </style>
</head>
<body>

    <a href="{% url 'index' %}"><div class="header"></div></a>

    <div class="under-header">
        <div>
            {% if user.is_authenticated %}
                <div class="base-user">
                    <a href="{% url 'userprofile' username=user.username %}">
                        {% if user.userprofile.image %}
                            <img src={{ user.userprofile.image.url }} alt="pfp">
                        {% endif %}
                        <p>hello,<br>
                        {{ user.username }}</p>
                    </a>
                </div>
                
            {% else %}
                <h3 class="login-base"><a href="{% url 'login' %}">LOGIN</a></h3>
            {% endif %}
        </div>
        
        <div id="nav-hidden-menu">
            <button type="button" onclick="openMenu()">MENU</button>
        </div>

        <div class="logout">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}?next=/" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            {% else %}
                <h3><a href="{% url 'register' %}">REGISTER</a></h3>
            {% endif %}
        </div>
    </div>
    
    <nav id="nav-full-menu">
        <a href="{% url 'index' %}"><div><h1>HOME</h1></div></a>
        <a href="{% url 'explore' %}"><div><h1>EXPLORE</h1></div></a>
        <a href="{% url 'community' %}"><div><h1>COMMUNITY</h1></div></a>
        <a href="{% url 'chat' %}"><div><h1>FORUM</h1></div></a>
        <a href="{% url 'contribute' %}"><div><h1>CONTRIBUTE</h1></div></a> 
        <a href="{% url 'about' %}"><div><h1>ABOUT</h1></div></a>  
    </nav>

    {% if user.is_superuser or user.is_admin %}
        <h1 style="text-align: center;"><a href="{% url 'superuser' %}">ADMIN PANEL</a></h1>
    {% endif %}

    <hr>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    

    
    <hr><br>
    <div class="base-bottom">
        {% if user.is_authenticated %}<a href="{% url 'userprofile' username=user.username %}"><button class="button">ACCOUNT</button></a>{% endif %}
        <a href="{% url 'feedback' %}"><button class="button">MESSAGE US</button></a>
        
    </div>
    <br>
    <p style="text-align: center;">brought to you by<br>Planet Plum</p>
    <br>
 

    <script>
        let menuOpen = false;
        let menu = document.getElementById("nav-full-menu")
        function openMenu(){
            if ( menuOpen == false ){
                menuOpen = true;
                document.getElementById("nav-full-menu").style.display = "grid";
                document.getElementById("nav-hidden-menu").children[0].innerHTML = "CLOSE"
            } else {
                menuOpen = false;
                document.getElementById("nav-full-menu").style.display = "none";
                document.getElementById("nav-hidden-menu").children[0].innerHTML = "MENU"
            }
        }
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>