{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} Planet Plum! {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %} {% endblock %}
    <style>
        {% if user.is_authenticated %}
        :root {
            --primary: {{ user.userprofile.primary }};
            --secondary: {{ user.userprofile.secondary }};
        }
        {% else %}
        :root {
            --primary: light-dark(white, black);
            --secondary: light-dark(black, white);
        }
        {% endif %}
    </style>
    <script>
        let menuOpen = false;
        let menu = document.getElementById("nav-full-menu")
        function openMenu(){
            if ( menuOpen == false ){
                menuOpen = true;
                document.getElementById("nav-full-menu").style.display = "grid";
                document.getElementById("nav-hidden-menu").children[0].innerHTML = "CLOSE"
            } else {
                menuOpen = false;
                document.getElementById("nav-full-menu").style.display = "none";
                document.getElementById("nav-hidden-menu").children[0].innerHTML = "MENU"
            }
        }
    </script>
    {% block script %}
    {% endblock %}
</head>
<body>

    <h1 class="header">OMAHA UNDERGROUND</h1>

    <div class="under-header">
        <div class="base-user">
            {% if user.is_authenticated %}
                {% if user.userprofile.image %}
                    <img src={{ user.userprofile.image.url }}>
                {% endif %}
                <p>hello,<br>
                <a href="{% url 'userprofile' username=user.username %}">{{ user.username }}</a></p>
            {% else %}
                <h3><a href="{% url 'login' %}">LOGIN</a></h3>
            {% endif %}
        </div>
        
        <div id="nav-hidden-menu">
            <button type="button" onclick="openMenu()">MENU</button>
        </div>

        <div class="logout">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}?next=/" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            {% else %}
                <h3><a href="{% url 'register' %}">REGISTER</a></h3>
            {% endif %}
        </div>
    </div>
    
    <nav id="nav-full-menu">
            <h1><a href="{% url 'index' %}">HOME</a></h1>
            <h1><a href="{% url 'explore' %}">EXPLORE</a></h1>
            <h1><a href="{% url 'index' %}">COMMUNITY</a></h1>
            <h1><a href="{% url 'chat' %}">FORUM</a></h1>
            <h1><a href="{% url 'contribute' %}">CONTRIBUTE</a></h1>
            <h1><a href="{% url 'about' %}">ABOUT</a></h1>
    </nav>

    {% if user.is_superuser %}
        <h1 style="text-align: center;"><a href="{% url 'superuser' %}">ADMIN PANEL</a></h1>
    {% endif %}

    <hr>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    

    
    <br><br>
    <div class="base-bottom">
        <p>click <a href="{% url 'feedback' %}">here</a> to tell us ANYTHING</p>
    </div>
</body>
</html>