{% extends "planetplum/base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% for commlink in commlinks %}

    {% ifchanged commlink.section %}
        {% if forloop.first %}
            <h2 class="sec-flag">{{ commlink.section.name }}</h2>
            <div class="idx-section">
        {% else %}
            </div>
            <h2 class="sec-flag">{{ commlink.section.name }}</h2>
            <div class="idx-section"> 
        {% endif %}
    {% endifchanged %}
    
    
        <div class="ann" {% if not commlink.description %}style="text-align: center;"{% endif %}>
            <a href="{{ commlink.link }}" target="_blank">
                <h1>{{ commlink.name }}</h1>
                {% if commlink.image %}
                    <img src={{ commlink.image.url }} alt="announcement img" class="ann-img-tall"
                    {% if not commlink.description %}style="float: none;"{% endif %}>
                {% endif %}
            </a>
            {% if commlink.description %}
                <p><b>{{ commlink.description|linebreaksbr }}
            {% endif %}
            {% if user.is_superuser or user.is_admin %}
                <a href="{% url 'editmodel' modelname='communitylink' id=commlink.id %}"><h3>(edit)</h3></a>
            {% endif %}</b></p>
        </div>
    
    {% if forloop.last %}
        </div>
    {% endif %}

{% endfor %}



{% endblock %}