{% extends "planetplum/base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% for commlink in commlinks %}

    {% ifchanged commlink.section %}
        {% if forloop.first %}
            <h2 class="sec-flag">{{ commlink.section.name }}</h2>
            <div class="idx-section">
        {% else %}
            </div>
            <h2 class="sec-flag">{{ commlink.section.name }}</h2>
            <div class="idx-section"> 
        {% endif %}
    {% endifchanged %}
    
    <a href="{{ commlink.link }}" target="_blank">
        <div class="ann">
            <h1>{{ commlink.name }}</h1>
            {% if commlink.image %}
                <img src={{ commlink.image.url }} alt="announcement img" class="ann-img-tall">
            {% endif %}
            {% if commlink.description %}
                <p><b>{{ commlink.description }}
            {% endif %}
            {% if user.is_superuser %}
                <a href="{% url 's_editcommlink' commlinkid=commlink.id %}"><h3>(edit)</h3></a>
            {% endif %}</b></p>
        </div>
    </a>
    {% if forloop.last %}
        </div>
    {% endif %}

{% endfor %}



{% endblock %}