{% extends "planetplum/base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/explore.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="exp-tabs-container">
    <a href="{% url 'bands' %}">
        <div class="exp-tabs {% block cband %}{% endblock %}">
            <h1>BANDS</h1>
        </div>
    </a>
    <a href="{% url 'labels' %}">
        <div class="exp-tabs {% block clabel %}{% endblock %}">
            <h1>LABELS</h1>
        </div>
    </a>
    <a href="{% url 'venues' %}">
        <div class="exp-tabs {% block cvenue %}{% endblock %}">
            <h1>VENUES</h1>
        </div>
    </a>
    <a href="{% url 'shows' %}">
        <div class="exp-tabs {% block cshow %}{% endblock %}">
            <h1>SHOWS</h1>
        </div>
    </a>
</div>
<div class="explore">
    <div class="filter">
        {% if form.errors %}
            <h1 style="color: red">{{ form.errors }}</h1>
        {% endif %}
    
        <form method="POST">
            {% csrf_token %}
            {% for section in searchform %}
                <div style="float: left; margin-right: .5rem;">
                    <h3>{{ section.label }} {{ section }}</h3>
                </div>
                
            {% endfor %}
            <button type="submit" style="clear: left;" class="button">Filter</button>
        </form>
    </div>
    <hr>
    {% block explore %}
    {% endblock %}
</div>


{% endblock %}