{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
feedback
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="cancel">
    <a href="{% url 'index' %}"><button class="button">home</button></a>
</div>

{% if submitted %}
<p>Thanks for your feedback!</p>
{% endif %}

{% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <h2>Message</h2>
        <input type="textarea" id="id_content" name="content"><br>
        <button type="submit">Send</button>
    </form>
{% else %}
<br><br>
<p>Sorry, you have to have an account to send us a message (lot of bots out there)</p>
<p>Click <a href="{% url 'register' %}">here</a> to create an account and <a href="{% url 'login' %}">here to login</a></p>
{% endif %}


{% endblock %}


{% block script %}
{% include 'planetplum/widgets/textareasizescript.html' %}
{% endblock %}