{% extends "planetplum/base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/index1.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h2 class="sec-flag">QUICK LINKS</h2>
<div class="idx-section">
    <br>
    <a href="{% url 's_addshow' %}"><button class="button">Add Show</button></a>
    <a href="{% url 'bands' %}"><button class="button">Explore Bands</button></a>
    <br><br>
</div>


<h2 class="sec-flag"><a href="{% url 'shows' %}">UPCOMING SHOWS</a></h2>
<div class="idx-section">

    {% for show in shows %}
        {% ifchanged show.date %} 
            {% if not forloop.first %}<hr>{% endif %}
            {% if show.date == currentday %}
                <h1>TODAY</h1>
            {% else %}
                <h1>{{ show.date|date:"l, M. jS" }}</h1>
            {% endif %}
        {% endifchanged %}
        <a href="{{ show.get_absolute_url }}">
        <div class="show">
            
            <div class="show-img">
                <img src="{{ show.image.url }}" alt="show poster">
            </div>
            <div class="show-text">
                {% if show.name %}
                    <h2>{{ show.name }}</h2><br>
                {% else %}
                    <br>
                {% endif %}
                
                <h2>
                    <a href="{{ show.venue.get_absolute_url }}">
                        @ <b>{{ show.venue.name }}</b><br>
                    </a>
                </h2>
                <h3> 
                    {% if show.price %}
                        {% if show.price == 0 %}
                            free,
                        {% else %}
                            ${{ show.price }}
                        {% endif %}
                        {% if show.pwyc %}(PWYC){% endif %},
                    {% endif %}
                    {% if show.time %}{{ show.time }}{% endif %}
                </h3>
                {% if show.ticketlink %}
                    <br>
                    <a href={{show.ticketlink}} target="blank"><h2 style="padding-left: 1rem;"><b>🔗tickets</b></h2></a>
                {% endif %}
            </div>
            
        </div>
        </a>
    {% empty %}
    oops ain't got any
    {% endfor %}
    <a href="{% url 'shows' %}"><h2 style="text-align: center; text-decoration: underline;">MORE SHOWS</h2></a>
</div>



<h2 class="sec-flag"><a href="{% url 'announcements' %}">NEWEST ANNOUNCEMENT</a></h2>
<div class="idx-section">
    {% for announcement in announcements %}
    <div class="ann">
        <h1>{{ announcement.name }}</h1>
        {% if announcement.image %}
            {% if announcement.banner %}
                <img src={{ announcement.image.url }} alt="announcement img" class="ann-img-wide">
                <br>
            {% else %}
                <img src={{ announcement.image.url }} alt="announcement img" class="ann-img-tall">
            {% endif %}
        {% endif %}
        <p>&nbsp;&nbsp;&nbsp;{{ announcement.created_at|date }}
            {% if user.is_superuser or user.is_admin %}
                <a href="{% url 'editmodel' modelname='announcement' id=announcement.id %}">**(edit)</a>
            {% endif %}
        </p><br>
        {% if announcement.description %}
            <p><b>{{ announcement.description|linebreaksbr }}</b></p>
        {% endif %}
    </div>
    {% empty %}
        <p>where the announcmeents at??</p>
    {% endfor %}
    <a href="{% url 'announcements' %}"><h2 style="text-align: center; text-decoration: underline;">ALL ANNOUNCEMENTS</h2></a>
    
        
</div>





{% endblock %}