{% extends "planetplum/base.html" %}
{% block title %}
labels
{% endblock %}
{% block stylesheets %}
<!--additional stylesheets here-->
{% endblock %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ searchform }}
    <button type="submit">Filter</button>
</form>

{% for label in labels %}
<a href="{% url 'labelpage' labelname=label.name %}">
    <div style="background-color: {{ label.color }}; width: 500px;">
        <p>{{ label.name }}</p>
        {% if label.image %}<img src={{ label.image.url }} style="max-width: 200px; max-height: 200px;">{% endif %} <!-- REPLACE WITH REAL CSS-->
    </div>
</a>
{% empty %}
<p>OOh sorry dude we ain't got any of them</p>
{% endfor %}


{% endblock %}
