{% extends "planetplum/explore.html" %}
{% load static %}
{% block title %}
shows
{% endblock %}

{% block cshow %}exp-tabs-current{% endblock %}

{% block explore %}

{% if form.errors %}
    <h1 style="color: red">{{ form.errors }}</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ searchform }}
    <button type="submit">Filter</button>
</form>

{% for show in shows %}
<div>
    <a href="{% url 'showpage' showid=show.id %}">
        {{ show.date }}
        <img src="{{ show.image.url }}" style="max-width: 200px; max-height: 200px;">
    </a>
    <p>
        at <a href="{% url 'venuepage' venuename=show.venue.name %}">
            {{ show.venue.name }}
        </a>
    </p>     
</div>
{% empty %}
OOPS ain't got any
{% endfor %}

{% endblock %}