{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
showpage
{% endblock %}
{% block css %}
<link href="{% static 'css/page.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

{% if show.approved == False %}
<p style="color:red">this show is awaiting approval to be placed directly on the website</p>
    {% if user.is_superuser or user.is_admin %}
    <a href="{% url 'approveshow' showid=show.id %}"><button class="button">APPROVE!</button></a>
    {% endif %}
{% endif %}

<h2 class="name">{{ show.date }}</h2>
{% if edit %}<a href="{% url 's_editshow' showid=show.id %}">(edit)</a>{% endif %}
<div class="below-name">
<img src="{{ show.image.url }}">
<h1>{% if show.name %}{{ show.name }}{% endif %}</h1>
<h2>at: <a href="{% url 'venuepage' venuename=show.venue.name %}">{{ show.venue.name }}</a></h2>
<h3>
    {% if show.price %}${{ show.price }}{% endif %}
    {% if show.pwyc %}PWYC{% endif %}<br>
    {% if show.time %}{{ show.time }}{% endif %}
</h3>

</div>


{% endblock %}



{% block script %}

{% endblock %}
