{% extends "planetplum/explore.html" %}
{% load static %}
{% block title %}
shows
{% endblock %}

{% block cshow %}exp-tabs-current{% endblock %}

{% block explore %}

<div class="shows">
{% for show in shows %}
<div class="show">
    {% ifchanged show.date %}
        <p>{{ show.date|date:"l, M. jS" }}<p>
    {% else %}
        <br>
    {% endifchanged %}

        <a href="{% url 'showpage' showid=show.id %}">
        <img src="{{ show.image.url }}">
    </a>

    
    <p>
        at <a href="{% url 'venuepage' venuename=show.venue.name %}">
            {{ show.venue.name }}
        </a>
    </p>     
</div>
{% empty %}
OOPS ain't got any
{% endfor %}
</div>

{% endblock %}