{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
         Planet Plum! 
    </title>
    <link href="{% static 'css/base1-1.css' %}" rel="stylesheet">
    <style>
        {% if user.userprofile.primary %}
        :root {
            --primary: {{ user.userprofile.primary }};
        }
        {% else %}
        :root {
            --primary: light-dark(white, black);
        }
        {% endif %}
    </style>
</head>
<body>
{% if user.is_superuser or user.is_admin %}
    <h1><a href="{% url 'index' %}">return to site</a></h1>

Welcome Admin man
{% if user.is_superuser %}
<h1>sites</h1>
{% for site in sites %}
    <a href="{% url 'editmodel' modelname='site' id=site.id %}">{{ site }}</a>
{% endfor %}
<br>
<h1><a href="{% url 'usermanage' usecase='admins' id=0 %}">Manage Admins</a></h1>
{% endif %}
<h2><a href="{% url 'usermanage' usecase='users' id=0 %}">Manage Users</a></h2>
<h2>we have {{ accounts }} users!!</h2>
<br>
<h2><a href="{% url 'addmodel' modelname='communitysection' %}">add community section</a><a href="{% url 's_commseclist' %}"> (see list)</a></h2>
<a href="{% url 'addmodel' modelname='announcement' %}"><h2>add announcement</h2></a>

<br><br>
<h1>items awaiting approval</h1>

{% if venues.0 %}
<h2>venues</h2>
<ul>
{% for venue in venues %}
    <li><h3><a href="{% url 'venuepage' venuename=venue.name %}">{{ venue.name }}</a></h3></li>
{% endfor %}
</ul>
{% endif %}

{% if shows.0 %}
<h2>shows</h2>
<ul>
{% for show in shows %}
    <li><h3><a href="{% url 'showpage' showid=show.id %}">{{ show.date }}</a></h3></li>
{% endfor %}
</ul>
{% endif %}

{% if bands.0 %}
<h2>bands</h2>
<ul>
{% for band in bands %}
    <li><p><a href="{% url 'bandpage' bandname=band.name %}">{{ band.name }}</a></p></li>
{% endfor %}
</ul>
{% endif %}

{% if labels.0 %}
<h2>labels</h2>
<ul>
{% for label in labels %}
    <li><p><a href="{% url 'labelpage' labelname=label.name %}">{{ label.name }}</a></p></li>
{% endfor %}
</ul>
{% endif %}

{% if commlinks.0 %}
<h2>community links</h2>
<ul>
{% for commlink in commlinks %}
    <li><p><a href="{% url 'editmodel' modelname='communitylink' id=commlink.id %}">{{ commlink.name }}</a></p></li>
{% endfor %}
</ul>
{% endif %}

{% if reports.0 %}
<h1>reported chats</h1>
{% for report in reports %}
    <a href="{% url 'removemessage' reportid=report.id %}"><button class="button">REMOVE</button></a>
    <a href="{% url 'dismissmessage' reportid=report.id %}"><button class="button">DISMISS</button></a>
    {% if report.post.image %}
        <p>IMAGE: <img style="max-width: 250px; max-height: 250px;" src="{{ report.post.image.url }}"></p>
    {% endif %}
    {% if report.post.text %}
        <p>MESSAGE: {{ report.post.text }}</p>
    {% endif %}
    <hr>
{% endfor %}
{% endif %}

{% else %}
<h1>You shouldn't see this!</h1>
{% endif %}
</body>
</html>