{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
         Planet Plum! 
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
{% if user.is_superuser %}
    <h1><a href="{% url 'index' %}">return to site</a></h1>
    <h1><a href="{% url 'superuser' %}">ADMIN PANEL</a></h1>
    <nav>
        <div>
            <a href="{% url 'index' %}">HOME</a>
            <a href="{% url 'about' %}">ABOUT</a>
                hello, 
                <a href="{% url 'userprofile' username=user.username %}">
                {% if user.userprofile.picture %}
                    <img src={{ user.userprofile.picture.url }} style="max-width: 50px; max-height: 50px;">
                {% endif %}{{ user.username }}</a>
                <form action="{% url 'logout' %}?next=/" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
        </div>
        <br>
    </nav>

Welcome Admin man

{% include 'planetplum/widgets/contribute.html' %}

<br><br>
<h1>items awaiting approval</h1>
<h2>shows</h2>
{% for show in shows %}
    <p><a href="{% url 'showpage' showid=show.id %}">{{ show.date }}</a></p>
{% empty %}
    <p>none</p>
{% endfor %}

<h2>bands</h2>
{% for band in bands %}
    <p><a href="{% url 'bandpage' bandname=band.name %}">{{ band.name }}</a></p>
{% empty %}
    <p>none</p>
{% endfor %}

<h2>labels</h2>
{% for label in labels %}
    <p><a href="{% url 'labelpage' labelname=label.name %}">{{ label.name }}</a></p>
{% empty %}
    <p>none</p>
{% endfor %}

{% else %}
<h1>go away asshole</h1>
{% endif %}
</body>
</html>