{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
         Planet Plum! 
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
{% if user.is_superuser %}
    <h1><a href="{% url 'index' %}">return to site</a></h1>
    <h1><a href="{% url 'superuser' %}">ADMIN PANEL</a></h1>

Welcome Admin man

{% include 'planetplum/widgets/contribute.html' %}
<br>
<h2><a href="{% url 's_addcommsec' %}">add community section</a><a href="{% url 's_commseclist' %}"> (see list)</a></h2>
<a href="{% url 's_addannouncement' %}"><h2>add announcement</h2></a>

<br><br>
<h1>items awaiting approval</h1>
<h2>shows</h2>
{% for show in shows %}
    <p><a href="{% url 'showpage' showid=show.id %}">{{ show.date }}</a></p>
{% empty %}
    <p>none</p>
{% endfor %}

<h2>bands</h2>
{% for band in bands %}
    <p><a href="{% url 'bandpage' bandname=band.name %}">{{ band.name }}</a></p>
{% empty %}
    <p>none</p>
{% endfor %}

<h2>labels</h2>
{% for label in labels %}
    <p><a href="{% url 'labelpage' labelname=label.name %}">{{ label.name }}</a></p>
{% empty %}
    <p>none</p>
{% endfor %}

<h2>community links</h2>
{% for commlink in commlinks %}
    <p><a href="{% url 's_editcommlink' commlinkid=commlink.id %}">{{ commlink.name }}</a></p>
{% empty %}
    <p>none</p>
{% endfor %}

<h1>reported chats</h1>
{% for report in reports %}
    <h3><a href="{% url 'removemessage' reportid=report.id %}">REMOVE</a>&#8677;
        <a href="{% url 'dismissmessage' reportid=report.id %}">DISMISS</a></h3>
    {% if report.post.image %}
        <p>IMAGE: <img style="max-width: 250px; max-height: 250px;" src="{{ report.post.image.url }}"></p>
    {% endif %}
    {% if report.post.text %}
        <p>MESSAGE: {{ report.post.text }}</p>
    {% endif %}
    <hr>
{% empty %}
    <p>none</p>
{% endfor %}

{% else %}
<h1>go away asshole</h1>
{% endif %}
</body>
</html>