{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
<!--title here-->
{% endblock %}
{% block stylesheets %}
<!--additional stylesheets here-->
{% endblock %}
{% block content %}

<br>
<h1> {{ venue.name }}{% if user.is_superuser %}<a href="{% url 's_editvenue' venuename=venue.name %}">(edit)</a>{% endif %} </h1>
<br>

<h2> {{ venue.get_ageRange_display }} </h2>
<h3>{% if venue.dm %}DM for address <!--make DM clickable-->
        {% else %}GOOGLE the address
        {% endif %}</h3>
{% if venue.image %}
<img src="{{ venue.image.url }}">
{% endif %}
<h3>{{ venue.description }}</h3>

{% endblock %}



{% block script %}

{% endblock %}
