{% extends "planetplum/base.html" %}
{% load static %}
{% block title %} login {% endblock %}

{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {% for section in form %}
        <div>
            {% if section.name == 'username' %}
            <h2>Username or Email</h2>
            {% elif section.name == 'password' %}
            <h2>Password</h2>
            {% else %}
            <h2>{{ section.name|title }}</h2>
            {% endif %}
            {{section}}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">    
</form>

<br><br><br><br>
<p><a href="{% url 'password_reset' %}">forgot password</a></p><br>
<p><a href="{% url 'register' %}"><strong>Don't have an account?</strong></a></p>

{% endblock %}