{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
password confirmation
{% endblock %}
{% block stylesheets %}
<!--additional stylesheets here-->
{% endblock %}
{% block content %}

{% if form.errors %}
    <h1 style="color: red">{{ form.errors }}</h1>
{% endif %}

<h1>PASSWORD CONFIRMATIONA</h1>
<p>yo man put in the new password twice</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">SEND EMAIL</button>
</form>


{% endblock %}



{% block script %}
<!--any javascript-->
{% endblock %}
