{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
change password
{% endblock %}

{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="cancel">
    <a href="{% url 'userprofile' username=user.username %}"><button class="button">cancel</button></a>
</div>

<br>
<h1>PASSWORD CHANGE</h1>
<p>enter you old password for security and then put the new password twice</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form %}
        <div>
            {% if section.name == 'new_password1' %}
            <h2>New Password</h2>
            {% elif section.name == 'new_password2' %}
            <h2>Confirm New Password</h2>
            {% else %}
            <h2>{{ section.name|title }}</h2>
            {% endif %}
            {{section}}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">CHANGE MY PASSWORD</button>
</form>

{% endblock %}
