{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
change password
{% endblock %}
{% block stylesheets %}
<!--additional stylesheets here-->
{% endblock %}
{% block content %}

{% if form.errors %}
    <h1 style="color: red">{{ form.errors }}</h1>
{% endif %}

<h1>PASSWORD CHANGE</h1>
<p>enter you old password for security and then put the new password twice</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">CHANGE MY PASSWORD</button>
</form>

{% endblock %}



{% block script %}
<!--any javascript-->
{% endblock %}
