{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
check email
{% endblock %}

{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<br>
<h1>EMAIL SENT</h1>
<p>check your email for the instructions</p>
<br>

<div class="centerer">
    <a href="{% url 'password_reset' %}">
        <button class="button">Resend Email</button>
    </a>
</div>




{% endblock %}



{% block script %}
<!--any javascript-->
{% endblock %}
