{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
password confirmation
{% endblock %}

{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<br>
<h1>PASSWORD CONFIRMATION</h1>
<p>put in your new password twice</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for section in form %}
        <div>
            {% if section.name == 'new_password1' %}
            <h2>New Password</h2>
            {% elif section.name == 'new_password2' %}
            <h2>Confirm Password</h2>
            {% else %}
            <h2>{{ section.name|title }}</h2>
            {% endif %}
            {{section}}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">SUBMIT</button>
</form>


{% endblock %}



{% block script %}
<!--any javascript-->
{% endblock %}
