{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
reset password
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if form.errors %}
    <p>{{ form.errors.as_text }}</p>
{% endif %}

<br>
<h1>PASSWORD RESET</h1>
<p>enter your email associated with your account 
    and we'll send further instructions there.</p>

<br>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">SEND EMAIL</button>
</form>

{% endblock %}



{% block script %}
<!--any javascript-->
{% endblock %}
