{% extends "planetplum/base.html" %}
{% load static %}
{% block title %} register {% endblock %}

{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if form.errors %}
    <p>{{ form.errors }}</p>
{% endif %}

<br><br>
<form method="POST">
{% csrf_token %}
 
    {% for section in form %}
        <div>
            {% if section.name == 'password1' %}
            <h2>Password</h2>
            {% elif section.name == 'password2' %}
            <h2>Confirm Password</h2>
            {% else %}
            <h2>{{ section.name|title }}</h2>
            {% endif %}
            {{section}}
        </div>
    {% endfor %}
    <input type="submit" value="  Create Account  ">
 
</form>

{% endblock %}