{% extends "planetplum/base.html" %}
{% load static %}
{% block title %} register {% endblock %}

{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<p>{{ form.non_field_errors.as_text }}</p>
<form method="POST">
{% csrf_token %}

    <p><b>Note:</b> This is for the creation of a <b>personal</b> (per person) account. You will need to be logged into a personal account 
        in order to register your band on the 'Contribute' page.<br><br></p>
 
    {% for section in form %}
        <div>
            {% if section.name == 'password1' %}
            <h2>Password</h2>
            {% elif section.name == 'password2' %}
            <h2>Confirm Password</h2>
            {% else %}
            <h2>{{ section.name|title }}</h2>
            {% endif %}
            {{section}}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Create Account</button>
 
</form>

{% endblock %}