{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
edit profile
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div style="float: left;" class="cancel">
    <a href="{% url 'userprofile' username=user.username %}"><button class="button">cancel</button></a>
</div>
<div style="float: right;" class="cancel">
    <a href="{% url 'password_change' %}"><button class="button">change password</button></a>
</div>
<br><br><br>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    
    {% for section in form %}
        <div>
            {% if section.name == "profile_picture" %}
                <h2>Profile Picture</h2>
                {% if user.userprofile.image %}
                    <img src={{ user.userprofile.image.url }} id="img">
                {% else %}
                    <img src="{% static 'images/nopfp.png' %}" id="img">
                {% endif %}
                <br>
                <label for="id_profile_picture" class="file-upload">Upload Image</label>
                <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture" onchange="readURL(this)">
                <br><br>
            {% elif section.name == "name" %}
                <h2>Name (optional)</h2>
                {{section}}
            {% else %}
            <h2>{{ section.name|title }}</h2>
            {{section}}
            {% endif %}


            

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">Save</button>
</form>

{% endblock %}

{% block script %}
{% include 'planetplum/widgets/imgdisplayscript.html' %}
{% endblock %}
