{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
change color
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="cancel">
    <a href="{% url 'userprofile' username=user.username %}"><button class="button">back</button></a>
</div>

<form method="POST">
    {% csrf_token %}
    <label for="id_primary">New Color</label><br>
    <div class="user-color-container">
        <input type="color" id="id_primary" class="colorfield_field jscolor form-control" name="primary" value={{ user.userprofile.primary }} placeholder={{ user.userprofile.primary }}
            data-jscolor="{hash:true,width:225,height:150,format:'hex',required:true,paletteCols:4,paletteHeight:28}" required="">
    </div>
   <br>
    <p>{{ form.errors }}</p>
    <br>
    <button type="submit">Save</button>
</form>
{% endblock %}

