{% extends "planetplum/base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/userProfile.css' %}" rel="stylesheet">
<link href="{% static 'css/explore.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<h1>{{ displayUser.username }}</h1>
{% if displayUser.first_name %}<p>name: {{ displayUser.first_name }}</p>{% endif %}
<br>
{% if displayUser.userprofile.description and displayUser.userprofile.description != 'None' %}<p style="padding: 0 .8rem;"><b>{{ displayUser.userprofile.description|linebreaksbr }}</b></p>{% endif %}
<br>
<h2 class="color">Color</h2>

<div class="profile-left">
    {% if displayUser.userprofile.image %}
        <img src={{ displayUser.userprofile.image.url }}>
    {% else %}
        <img src="{% static 'images/nopfp.png' %}">
    {% endif %}

    {% if user.is_authenticated and displayUser.id == user.id %}
        <a href="{% url 'edituserprofile' %}"><button class="button">Edit Account</button></a>
    {% endif %}

 
</div>


<div class="profile-right">
    <div class="user-color-box">
        <div class="user-color" style="background-color: {{ displayUser.userprofile.primary }};"></div>
    </div>
    {% if user.is_authenticated and displayUser.id == user.id %}
        <a href="{% url 'editusercolors' %}"><button class="button">Change</button></a>
    {% endif %}

</div>

{% if displayUser.bands.all %}
<h1 class="band-title">bandmember of:</h1>
<div class="results-bands">
    {% for band in displayUser.bands.all %}
        {% if band.approved %}
        <a href="{% url 'bandpage' bandname=band.name %}">
            <div class="band" style="border-color: {{ band.label.color }};">
                <img src={{ band.image.url }}>
                <p>{{ band.name }}</p>
            </div>
        </a>
        {% endif %}
    {% empty %}
    <p>none yet</p>
    {% endfor %}
</div>
{% endif %}


{% if displayUser.is_trusted %}
    <div style="clear: both;">
       <br>
        <p>trusted member :)</p>
        {% if user.is_admin and not displayUser.is_admin %}
            <a href="{% url 'usermanageremove' usecase='trust' username=displayUser.username id=None %}"><button class="button">REMOVE Trust</button></a>
        {% endif %}     
    </div>

{% else %}
    {% if user.is_admin %}
        <a href="{% url 'usermanageadd' usecase='trust' username=displayUser.username id=None %}"><button class="button">Trust User</button></a>
    {% endif %}
{% endif %}


{% endblock %}