{% extends "planetplum/base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/userProfile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<h1>{{ displayUser.username }}</h1>
<p>name: {% if displayUser.first_name %}{{ displayUser.first_name }}{% else %}[blank]{% endif %}</p>
<br>
<p style="padding: 0 .8rem;"><b>{{ displayUser.userprofile.description }}</b></p>
<br>
<h2 class="color">Color</h2>

<div class="profile-left">
    {% if displayUser.userprofile.image %}
        <img src={{ displayUser.userprofile.image.url }}>
    {% else %}
        <img src="{% static 'images/nopfp.png' %}">
    {% endif %}

    {% if user.is_authenticated and displayUser.id == user.id %}
        <a href="{% url 'edituserprofile' %}"><button class="button">Edit Account</button></a>
    {% endif %}

 
</div>


<div class="profile-right">
    <div class="user-color-box">
        <div class="user-color" style="background-color: {{ displayUser.userprofile.primary }};"></div>
    </div>
    {% if user.is_authenticated and displayUser.id == user.id %}
        <a href="{% url 'editusercolors' %}"><button class="button">Change</button></a>
    {% endif %}

</div>




{% endblock %}