{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
edit {{ model }}
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="cancel">
    <a href='{{ form.instance.get_absolute_url }}'><button class="button">back</button></a>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form %}
        <div>
            {% ifchanged section.field.required %}
                {% if not forloop.first %}
                    <br><hr>
                    <p>(optional details)</p><br>
                {% endif %}
            {% endifchanged %}

            <h2>{{ section.label|title }}</h2>
            {% if section.name == 'image' %}
                <br>
                {% if section.value %}
                    <img src="/media/{{ section.value }}" id="img">
                {% endif %}
                <br>
                <label for="id_image" class="file-upload">Upload Image</label>
                <input type="file" name="image" accept="image/*" id="id_image" onchange="readURL(this)">
                <br><br>
            {% elif section.name == 'color' %}
            <div class="form-label-color">
                <input type="color" id="id_color" class="colorfield_field jscolor form-control" name="color" value={{ form.instance.color }} placeholder={{ form.instance.color }}
                    data-jscolor="{hash:true,width:225,height:150,format:'hex',required:true,paletteCols:4,paletteHeight:28}" required="">
            </div>
            {% else %}
                {{ section }}
            {% endif %}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">Save</button>
</form>

<div class="delete">
    <button class="button" onclick="toggleDelete()">DELETE</button>
    <div id="delete-confirm"><br>
        <h3>ON MOMMA???</h3>
        <a href="{% url 'delete' model=model id=form.instance.id  %}"><button class="button">yes!</button></a>
        <button class="button" onclick="toggleDelete()">NO</button>
    </div>
</div>

{% endblock %}

{% block script %}
{% include 'planetplum/widgets/imgdisplayscript.html' %}
{% include 'planetplum/widgets/textareasizescript.html' %}
{% include 'planetplum/widgets/deletescript.html' %}
{% endblock %}