{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
edit show
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="cancel">
    <a href="{% url 'showpage' showid=form.instance.id %}"><button class="button">back</button></a>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for section in form %}
        <div>
            {% if section.name == "image" %}
                <h2>Show Poster</h2>
                <br>
                <img src="https://omaha-underground.t3.storage.dev/static/{{ section.value }}" id="img" class="show-img">
                <br>
                <label for="id_image" class="file-upload">Upload Image</label>
                <input type="file" name="image" accept="image/*" id="id_image" onchange="readURL(this)">
                <br><br>
            {% elif section.name == "date" %}
                <h2>Date</h2>
                <input type="date" name="date" required id="id_date" value="{{ section.value|date:"Y-m-d" }}">
            {% elif section.name == "time" %}
                <h2>Time</h2>
                {% if section.value %}
                    <input type="time" name="time" id="id_time" value="{{ section.value|time:"H:i" }}">
                {% else %}
                    <input type="time" name="time" id="id_time">
                {% endif %}
            {% elif section.name == "name" %}
                <br><hr>
                <p>(optional details)</p><br>
                <h2>Show Title</h2>
                {{ section }}
            {% elif section.name == "price" %}
                <div class="price">
                    <div>
                        <h2>&nbsp;Price</h2>
                        <h2 style="display: inline;">$</h2>{{ section }}
                    </div>
                    <div>
                        <h2>PWYC?</h2>
                        <input type="checkbox" name="pwyc" id="id_pwyc" {% if form.instance.pwyc %}checked{% endif %}>
                </div>
            {% elif section.name == "pwyc" %}
            {% elif section.name == "venue" %}
                <h2>{{ section.name|title }}</h2>
                {{ section }}

                <div id="venueform" class="venueform">
                    {% for option in venueform %}
                     <h2>{{ option.label|title }}</h2>
                     {{option}}
                    {% endfor %}
                    {% if option.name in form.errors %}
                        <br><p>{{ option.errors.as_text }}!!</p><br>
                    {% endif %}
                </div>
            {% else %}
                <h2>{{ section.name|title }}</h2>
                {{section}}
            {% endif %}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
            
        </div>
    {% endfor %}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">Save</button>
</form>
<br>
</form>
<div class="delete">
    <h1 onclick="toggleDelete()">DELETE</h1>
    <div id="delete-confirm"><br>
        <h3>ON MOMMA???</h3>
        <a href="{% url 'delete' modelname=model id=form.instance.id  %}"><h3 style="border: 1px red solid">yes!</h3></a>
        <br><h3 onclick="toggleDelete()">NO</h3>
    </div>
</div>

{% endblock %}

{% block script %}
{% include 'planetplum/widgets/imgdisplayscript.html' %}
{% include 'planetplum/widgets/deletescript.html' %}
<script>
    let venueselect = document.getElementById("id_venue")
    venueselect.onchange = function boi() {

        var opt = venueselect.options[venueselect.selectedIndex]
        if (opt.text == "-- Other Venue --") {
            document.getElementById("venueform").style.display = "block"
            document.getElementById("id_ven-name").required = true
            document.getElementById("id_ven-ageRange").required = true
        } else {
            document.getElementById("venueform").style.display = "none"
            document.getElementById("id_ven-name").required = false
            document.getElementById("id_ven-ageRange").required = false
        }
    }
    venueselect.onchange()
</script>
{% endblock %}
