{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
addband
{% endblock %}
{% block stylesheets %}
<!--additional stylesheets here-->
{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form %}
    <div>
        {% if section.name == 'color' %}
        <label for="id_color">Color:</label>
        <input type="color" id="id_color" class="colorfield_field jscolor form-control" name="color" value={{ form.instance.color }} placeholder={{ form.instance.color }}
            data-jscolor="{hash:true,width:225,height:150,format:'hex',required:true,paletteCols:4,paletteHeight:28}" required="">
        {% else %}
        <p>{{ section.name }}{{ section }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Save</button>
</form>

{% endblock %}



{% block script %}
<!--any javascript-->
{% endblock %}
