
<div class="contrib-container">
    <div class="contrib-item"><a href="{% url 's_addshow' %}"><h1>add show</h1></a></div>
    <div class="contrib-item"><a href="{% url 'addmodel' modelname='venue' %}"><h1>add venue</h1></a></div>
    <div class="contrib-item" style="grid-column: 1 / span 2;"><a href="{% url 'addmodel' modelname='communitylink' %}"><h1>add community link</h1></a></div>
    <div style="grid-column: 1 / span 2;;">
        <br><hr style="width: 80%">
        <h1 style="text-align: center;">Register</h1>

    </div>
    
    <div class="contrib-item"><a href="{% url 'addmodel' modelname='band' %}"><h1>my band</h1></a></div>
    <div class="contrib-item"><a href="{% url 'addmodel' modelname='label' %}"><h1>my label</h1></a></div>

</div>
