{% now "l, M. jS" as today %}

<div class="shows">

    {% for show in shows %}

        {% ifchanged show.date %} 
            {% if show.date|date:"l, M. jS" == today %}
                <h2>TODAY</h2>
            {% else %}
                <h2>{{ show.date|date:"l, M. jS" }}</h2>
            {% endif %}
        {% endifchanged %}
        <a href="{{ show.get_absolute_url }}">
            <img src="{{ show.image.url }}">
            {% if show.name %}
                <h3>{{ show.name }}</h3>
            {% endif %}
        </a>
        <h3>
            {% load show_extras %}
            {% show_price show %}
            at: <a href="{{ show.venue.get_absolute_url }}">
                {{ show.venue.name }}
            </a>
        </h3>


    {% empty %}
    oops ain't got any


    {% endfor %}

</div>