{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
         Planet Plum! 
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>

    <p>You are unable to delete the thing that you tried to delete because it has children that restrict its deletion. For example, a section in the community section might have community links under it that prevent the deletion of the section. Make sure to delete all children of your object before deleting the object itself.</p>

</body>
</html>