{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
Manage Users
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="cancel">
    <a href="{% url 'superuser' %}"><button class="button">return</button></a>
</div>

<h1>{{ title }}</h1>

<br>

<h2 style="text-align: center">Users in group:</h2>
<table style="margin: 0 auto;">
    {% for user in active %}
        <tr>
            <td><img src="{{ user.userprofile.image.url }}" style="max-width: 75px;"></td>
            <td><h2 style="display: inline-block">{{ user.username }}</h2></td>
            <td><a href="{% url 'usermanageremove' usecase=usecase username=user.username id=id %}"><button class="button">remove</button></a></td>
        </tr>
        
    {% empty %}
        <p style="text-align: center;">NO USERS!!</p>
    {% endfor %}
</table>



<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form %}
        <div>
            <h2>Search Users to add to group</h2>
            {{ section }}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">search</button>
</form>
<br>
<br>
<h1 style="text-decoration: underline;">Search Results</h1>

<table style="margin: 0 auto;">
    {% for user in results %}  
        <tr>
            <td><img src="{{ user.userprofile.image.url }}" style="max-width: 75px;"></td>
            <td><h2 style="display: inline-block">{{ user.username }}</h2></td>
            <td><a href="{% url 'usermanageadd' usecase=usecase username=user.username id=id %}"><button class="button">add</button></a></td>
                
                
        </tr>
    {% empty %}
    <p style="text-align: center;">NO USERS!!</p>
    {% endfor %}
</table>

<br>
<br>



{% endblock %}
