{% extends "planetplum/base.html" %}
{% load static %}
{% block title %}
Manage Users
{% endblock %}
{% block css %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="back-button">
    <a href={{ back }}><button class="button">back</button></a>
</div>

<h1>{{ title }}</h1>

<br>

<h2 style="text-align: center">Users in group:</h2>
<div style="max-width: 100%; overflow: scroll;">
    <table style="margin: 0 auto;">
        {% for profile in active %}
            {% if user != profile %}
            <tr>
                <td>{% if profile.userprofile.image%}<img src="{{ profile.userprofile.image.url }}" style="max-width: 75px;">{% endif %}</td>
                <td><a href="{% url 'userprofile' username=profile.username %}"><h2>{{ profile.username }}</h2></a></td>
                {% if user.is_superuser %}<td><p>{{ profile.email }}</p></td>{% endif %}
                <td><button onclick="removeconfirm(this.parentElement.parentElement, '{{ profile.username }}')" class="button">remove</button></td>
                
            </tr>
            {% endif %}
        {% empty %}
            <p style="text-align: center;">NO USERS!!</p>
        {% endfor %}
    </table>
</div>




<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form %}
        <div>
            <h2>Search Users to add to group</h2>
            {{ section }}

            {% if section.name in form.errors %}
                <br><p>{{ section.errors.as_text }}!!</p><br>
            {% endif %}
        </div>
    {% endfor %}
    <p>{{ form.non_field_errors.as_text }}</p>
    <button type="submit">search</button>
</form>
<br>
<br>
<h1 style="text-decoration: underline;">Search Results</h1>

<table style="margin: 0 auto;">
    {% for user in results %}  
        <tr>
            <td>{% if user.userprofile.image %}<img src="{{ user.userprofile.image.url }}" style="max-width: 75px;">{% endif %}</td>
            <td><h2 style="display: inline-block">{{ user.username }}</h2></td>
            <td><a href="{% url 'usermanageadd' usecase=usecase username=user.username id=id %}"><button class="button">add</button></a></td>
                
                
        </tr>
    {% empty %}
    <p style="text-align: center;">NO USERS!!</p>
    {% endfor %}
</table>

<br>
<br>



{% endblock %}

{% block script %}
<script>
    username = undefined;
    lastremove = undefined;
    function removeconfirm(userrow, newusername){
        if (username != undefined){
            lastremove.remove()
            lastremove = undefined
            username = undefined
        }
        if ( newusername != false ){
            userrow.insertAdjacentHTML("afterend", `
                <tr>
                    <td></td>
                    <td><p><b>Remove this user??</b></p> </td>
                    <td><button class='button' onclick="removeconfirm(undefined, false)">NO</button>
                    <a href="${newusername}/remove"><button class='button'>YES</button></a></td>
                </tr>
            `
        
        )
            lastremove = userrow.nextElementSibling
            username = newusername}
    }

</script>
{% endblock %}